body
{
  margin: 0;
  padding: 0;
  background: #ccc;
  overflow: scroll;
}
ul {
	list-style:none;
}
.nav
{
	position:relative;
	width:100%;
	height:55px;
}
.test1:hover{
 background-color: #f8f8f8;
}
.test1
{
	height:55px;
	position:absolute;
}
.test1 i 
{
	margin-top: 18px;
    position: absolute;
    margin-left: 12px;
}
.test
{
	height:55px;
	position:absolute;
}
.test i 
{
	margin-top:18px;
	margin-left:15px;
	float: right;
    margin-right: 30px;
}
.nav1
{
	color:#b2b6be;
	background-color: #495469;
}
.circle
{
	margin-left:1036px;
	width:42px;
}
.bell
{
	margin-left:1080px;
	width:42px;
}
#avatar
{
	margin-left: 1122px;
    width: 164px;
    height: 55px;
}
#avatar:hover{
	background-color: #f8f8f8;
}
.dash
{
	position:absolute;
	margin-left:80px;
	height:55px;
	margin-top: 16px;
	width:92px;
}
.last
{
	margin-top: -37px;
    float: right;
    color: #4d525d;
    margin-right: 35px;
}
.last:hover{
	background-color: aliceblue;
}
.nav ul 
{
  background-color: #fff;
  padding: 0;
  margin: 0;
  height:55px;
}
.nav a 
{
	text-decoration: none;
	color: #7a7a7a;
	display: block;
}
 #avatar  img
 {
      height: 32px;
    border-radius: 50%;
    margin-top: 11px;
 }
.pull-left 
{
	padding-right: 8px;
	margin-top: 17px;
	color:#4d525d;
}
.slideron{
	width: 250px;
	padding: 0;
}
.slideroff{
	width: 70px;
	padding: 0;
}
.slideroff li {
		height: 44px;
}
.sidenav{
	height: 1025px;
    background-color: #495469;
}
.sidenav ul {
  	  	margin: 0;
			
}
.sidenav ul .sideMenuIcon{
	background-color: #495469;
	width: 100%;
}
.sidenav ul li ul li a{
		color: #b2b6be;
}
.sidenav ul li ul li #idd{
	    margin-left: 27px;
    margin-top: 12px;
    position: absolute;
}
.sidenav ul li ul li  .midvalue{
	position: absolute;
    margin-left: 59px;
    margin-top: 9px;
}
.navhead{
		height: 40px;
		padding: 0;
}
.sidenav ul li .submenu li{
            margin-left: 30px;
			width: 186px;
			height: 33px;
			color: #b2b6be;
    		background-color:#434d60;
}
.sidenav ul li .submenu li a{
		padding-left: 14px;
		text-decoration: none;
}
.sidenav ul li .submenu{
	margin-top: -40px;
}
.sidenav ul li .submenudrop{
	padding: 0;
}
.sidenav ul li .submenudrop li{
            margin-left: 0px;
			width: 250px;
			padding-top: 16px;
			color: #b2b6be;
    		background-color:#495469;
}
.sidenav ul li .submenudrop li a
{
	    margin-left: 60px;
		text-decoration: none;
}
.sidenav ul li .submenudrop li:hover > a{
	color: #f8f8f8;
}
.slideroff .sideMenuIcon:hover .sideSubmenu{
	display: block !important;
}
.slideroff .sideMenuIcon .sideSubmenu{
	display: none;
}
.slideroff .sideMenuIcon .sideSubmenu li{
	padding-top: 5px;
}
.sidenav ul .sideMenuIcon:hover {
    background-color:#3f485a;
	cursor: pointer;
}
.sidenav ul li ul li .makesmall{
	font-size: 13px;
}
.sidenav ul li ul li .right{
	font-size: 10px;
	float: right;
    padding-top: 0px;
    margin-top: 10px;
    padding-left: 0;
    margin-right: 36px;
}
.sidenav ul li ul li .rotateon{
	    transition: all 0.1s linear;
	transform:rotate(90deg);
}
.sidenav ul li ul li .rotateoff{
		    transition: all 0.1s linear;	    
}
.nav ul li .subcircle
{
	position: absolute;
    width: 11px;
    margin-top: 12px;
    margin-left: 21px;
    font-size: 12px;
    height: 10px;
    color: #d96557;
}
.sidenav ul .navhead:hover li #idd{
    color:white;
        margin-left: 29px;
}
.sidenav ul .navhead:hover li a{
    color:white;
}
.sideMenuIcon{
	position: relative;
}
.sidenav ul li .submenudrop li .subchildclass{
    width: 227px;
	    margin-left: -17px;

}
.sidenav ul li .submenudrop li .subchildclass a{
	    color: #b2b6be;
}
.sidenav ul li .submenudrop li .subchildclass:hover > a
{
	color:#fff;
}
.sidenav ul li .submenudrop li .subchildclass ul .subchildclass2:hover > a
{
	color:#fff;
}
.sidenav ul li .submenudrop .subright 
{
	float: right;
    font-size: 10px;
    margin-right: 36px;
}
.sidenav ul li .submenudrop li ul li .subright2
{
	    float: right;
    margin-right: 34px;
    font-size: 11px;
}
.sidenav ul li .submenudrop li .subchildclass ul .subchildclass2
{
	width: 170px;
	margin-left: -13px;
}
body .uibody div
{
	display: inline-block;
}
.uibody{
	position: relative;
}
body .uibody .uiview
{
	position: absolute;
}
