body
{
  margin: 0;
  padding: 0;
  background: #ccc;
}
ul {
	list-style:none;
}
.nav
{
	position:relative;
	width:100%;
	height:55px;
}
.test
{
	height:55px;
	position:absolute;
}
.test i 
{
	margin-top:18px;
	margin-left:15px;
	float: right;
    margin-right: 30px;
}
.nav1
{
	color:#b2b6be;
	background-color: #495469;
}
.circle
{
	margin-left:77%;
	width:42px;
}
.bell
{
	margin-left:80%;
	width:42px;
}
#avatar
{
	margin-left:85%;
    padding-top: 14px;
}
.dash
{
	position:absolute;
	margin-left:80px;
	height:55px;
	margin-top: 16px;
	width:92px;
}
.last
{
	position:absolute;
	margin-left: 97%;
	margin-top: -32px;
	color:#4d525d;
}
.nav ul 
{
  background-color: #fff;
  padding: 0;
  margin: 0;
  height:55px;
}
.nav a 
{
	text-decoration: none;
	color: #7a7a7a;
	display: block;
}
 #avatar  img
 {
  width: 32px;
  height: 32px;
  padding-top: 3px;
  border-radius: 50%;
  margin-top: -7px;
 }
.pull-left 
{
	padding-right: 8px;
	margin-top: 3px;
	color:#4d525d;
}
.slideron{
	width: 250px;
}
.slideroff{
	width: 70px;
}
.slideroff li {
		height: 44px;
}
.sidenav ul {
  	  	margin: 0;
	    margin-left: -40px;	
}
.sidenav ul li{
	background-color: #495469;
	width: 100%;
}
.sidenav ul li ul li a{
		padding-left: 20px;
	    padding-top: 10px;
		color: #b2b6be;
}
.sidenav ul li ul li:hover a{
transition-delay: 0.1s;
color:white;
}
.navhead{
		height: 40px;
}
.sidenav ul li .submenu li{
            margin-left: 70px;
			width: 186px;
			height: 33px;
			color: #b2b6be;
    		background-color:#495469;
}
.sidenav ul li .submenu{
	margin-top: -40px;
}
.sidenav ul li .submenudrop li{
            margin-left: 0px;
			width: 250px;
			height: 33px;
			color: #b2b6be;
    		background-color:#495469;
}
.sidenav ul li .submenudrop li a{
			
            padding-left: 60px;
}
.sidenav ul li .submenudrop li a:hover{
	padding-left: 60px;
}
.slideroff .sideMenuIcon:hover .sideSubmenu{
	display: block !important;
}
.slideroff .sideMenuIcon .sideSubmenu{
	display: none;
}
.sidenav  ul li .sideSubmenu li a:hover{
	transition-delay: 0.1s;
	color: white;
}
.sidenav ul li:hover {
    background-color:#3f485a;
}
.sidenav ul li ul li .makesmall{
	font-size: 13px;
}
.sidenav ul li ul li .middle{
	
}
.sidenav ul li ul li .right{
	font-size: 10px;
	float: right;
    padding-top: 0px;
    margin-top: 10px;
    padding-left: 0;
    margin-right: 36px;
}
.sidenav ul li ul li .rotateon{
	    transition: all 0.1s linear;
	transform:rotate(90deg);
}
.sidenav ul li ul li .rotateoff{
		
		    transition: all 0.1s linear;
	    
}